@{
    ViewBag.Title = "ElementsVariables";
}
@Html.Partial("_LeftMenu")

<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.css">

@section Scripts{
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script>
    <script>
        function drawTable()
        {
            dataTable = $('#example').dataTable({
                destroy: true,
                bProcessing: true,
                sAjaxSource: '@Url.Action("LoadElements", "ElementsVariables")',
                "columnDefs": [{
                    "targets": -1,
                    "data": null,
                    "defaultContent": "<button class =\"glyphicon glyphicon-pencil edit\"></button> <button class =\"glyphicon glyphicon-trash delete\"></button>"
                }]

            });
        return true;
        }

        $(document).ready(drawTable);
    
        $(document).on("click", ".save", function() {
            $.ajax({
                url: "/ElementsVariables/Add",
                datatype: "text",
                data: { 'EleCode': $('#ruleCode').val(), 'EleName': $('#ruleName').val(), 'varCode': $('#varCode').val(), 'varName': $('#varName').val(), 'varCID': $('#varCID').val(), 'Creator': $('#ruleCreator').val() },
                type: "POST",
                success: function (data) {
                    $('#testarea').html("Added some shit");
                    drawTable();
                    return true;
                },
                error: function () {
                    $("#testarea").html("DONE FUCKED UP BOY");
                    return false;
                }
            });
        });


        $("tbody").on("click", ".edit", function () {
            ID = $(this).closest("tr").children('td:eq(0)').text();
            $('#editModal').modal('show');

            $(document).on("click", ".update", function () {
                $.ajax({
                    url: "/ElementsVariables/Update",
                    datatype: "text",
                    data: { 'VarCode': ID, 'NewEleCode': $('#updateCode').val(), 'NewEleName': $('#updateEleName').val(), 'NewVarCode': $('#updateVarCode').val(), 'NewVarName': $('#updateVarName').val(), 'NewVarCID': $('#updateVarCID').val() },
                    type: "POST",
                    success: function (data) {
                        $('#testarea').html("UPDATED");
                        drawTable();
                        return true;
                    },
                    error: function () {
                        $("#testarea").html("DID NOT UPDATE");
                        return false;
                    }
                });
            });
        });



    $("tbody").on("click", ".delete", function () {
        $.ajax({
            url: "/ElementsVariables/Delete",
            datatype: "text",
            data: { 'EleCode': $(this).closest("tr").children('td:eq(0)').text()},
            type: "POST",
            success: function (data) {
                $('#testarea').html("All OK");
                drawTable();
            },
            error: function () {
                $("#testarea").html("ERROR");
            }
        });
    });

    </script>

}

<!-- content -->
<div id="testarea">TESTAREA</div>
<a href="#myModal" data-toggle="modal" class="btn btn-primary">+</a>

<!--BEGIN SAVE MODAL-->
<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="myModalLabel" class="modal-title">Add Element</h4>
            </div>
            <div class="modal-body">
                Element ID: <input id="ruleCode" />
                <br />
                Element Name: <input id="ruleName" />
                <br />
                Variable Name: <input id="varName" />
                <br />
                Variable CID Name: <input id="varCID" />
                <br />
                Variable Code Name: <input id="varCode" />
                <br />
                Created By: <input id="ruleCreator" />

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="save" class="btn btn-primary save" data-dismiss="modal">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!--END MODAL-->
<!--BEGIN EDIT MODAL-->
<div id="editModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="myModalLabel" class="modal-title">Add Element</h4>
            </div>
            <div class="modal-body">
                Element Code: <input id="updateCode" />
                <br />
                Element Name: <input id="updateEleName" />
                <br />
                Variable CID: <input id="updateVarCID" />
                <br />
                Variable Code: <input id="updateVarCode" />
                <br />
                Variable Name: <input id="updateVarName" />
                <br />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="update" class="btn btn-primary update" data-dismiss="modal">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!--END EDIT MODAL-->


<div class="col-md-10">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="text-muted bootstrap-admin-box-title">Elements Table</div>
            </div>
            <div class="bootstrap-admin-panel-content">
                <table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
                    <thead>
                        <tr>
                            <th>
                                Element Code
                            </th>
                            <th>
                                Element Name
                            </th>
                            <th>
                                Variable Code
                            </th>
                            <th>
                                Variable Name
                            </th>
                            <th>
                                Variable CID
                            </th>
                            <th>
                                Date Added
                            </th>
                            <th>
                                Created By
                            </th>
                            <th>
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

