@{
    ViewBag.Title = "Displays";
}
@Html.Partial("_LeftMenu")
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.5.1/css/bootstrap-colorpicker.css" />
@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.5.1/js/bootstrap-colorpicker.js"></script>

    <script type="text/javascript">
        function openFileDialog(elemId) {
            var elem = document.getElementById(elemId);
            if (elem && document.createEvent) {
                var evt = document.createEvent("MouseEvents");
                evt.initEvent("click", true, false);
                elem.dispatchEvent(evt);
            }
        }
    </script>

    <script>
        $('#customColors').on('click', function () {
            $('#customColorsModal').modal('show');
        });
    </script>
    <script>
        $('#customFonts').on('click', function () {
            $('#customFontsModal').modal('show');
        });
    </script>

    <script>
        $(function () {
            $('#cp11').colorpicker('enable');
            $('#cp12').colorpicker('enable');
        });
    </script>
}
<!--BEGIN CUSTOM COLOR THEME MODAL-->
<div id="customColorsModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="myModalLabel" class="modal-title">Create Custom Font Theme</h4>
            </div>
            <div class="modal-body">
                <div id="cp11" class="input-group colorpicker-component">
                    <input type="text" value="" class="form-control" />
                    <span class="input-group-addon"><i></i></span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="save" class="btn btn-primary save" data-dismiss="modal">Save Theme</button>
            </div>
        </div>
    </div>
</div>
<!--END CUSTOM COLOR THEME MODAL-->
<!--BEGIN CUSTOM FONT THEME MODAL-->
<div id="customFontsModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="myModalLabel" class="modal-title">Create Custom Font Theme</h4>
            </div>
            <div class="modal-body">
                <div id="cp12" class="input-group colorpicker-component">
                    <input type="text" value="" class="form-control" />
                    <span class="input-group-addon"><i></i></span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="save" class="btn btn-primary save" data-dismiss="modal">Save Theme</button>
            </div>
        </div>
    </div>
</div>
<!--END CUSTOM FONT THEME MODAL-->

<div class="col-md-10">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="text-muted bootstrap-admin-box-title">Display Customization</div>
            </div>
            <div class="bootstrap-admin-panel-content">
                <br />
                Upload Logo
                <a href="#" class="btn btn-primary" onclick="openFileDialog('logoFile');"><i class="glyphicon glyphicon-folder-open"></i>  Open File</a>
                <input type="file" id="logoFile" style="display:none" />
                <a href="#" class="btn btn-default"><i class="glyphicon glyphicon-eye-open"></i> Preview</a>
                <a href="#" class="btn btn-default"><i class="glyphicon glyphicon-ok"></i> Apply</a>
                <br />
                <br />
                <br />
                Select Color Theme
                <select name="colorTheme">
                    <option disabled selected> -- Select Theme -- </option>
                    <option value="theme1">Theme 1</option>
                    <option value="theme2">Theme 2</option>
                    <option value="theme3">Theme 3</option>
                </select>
                <a href="#customColorsModal" id="customColors" class="btn btn-primary"><i class="glyphicon glyphicon-pencil"></i> Custom</a>
                <a href="#" class="btn btn-default"><i class="glyphicon glyphicon-eye-open"></i> Preview</a>
                <a href="#" class="btn btn-default"><i class="glyphicon glyphicon-ok"></i> Apply</a>
                <br />
                <br />
                <br />
                Select Font Theme
                <select name="fontTheme">
                    <option disabled selected> -- Select Theme -- </option>
                    <option value="theme1">Theme 1</option>
                    <option value="theme2">Theme 2</option>
                    <option value="theme3">Theme 3</option>
                </select>
                <a href="#customFontsModal" id="customFonts" class="btn btn-primary"><i class="glyphicon glyphicon-pencil"></i> Custom</a>
                <a href="#" class="btn btn-default"><i class="glyphicon glyphicon-eye-open"></i> Preview</a>
                <a href="#" class="btn btn-default"><i class="glyphicon glyphicon-ok"></i> Apply</a>
                <br />
                <br />
                <br />
                Select Icon Theme
                <select name="iconTheme">
                    <option disabled selected> -- Select Theme -- </option>
                    <option value="theme1">Theme 1</option>
                    <option value="theme2">Theme 2</option>
                    <option value="theme3">Theme 3</option>
                </select>
                <a href="#" class="btn btn-default"><i class="glyphicon glyphicon-eye-open"></i> Preview</a>
                <a href="#" class="btn btn-default"><i class="glyphicon glyphicon-ok"></i> Apply</a>
                <br />
                <br />
            </div>
        </div>
    </div>
</div>
