@{
    ViewBag.Title = "AttributesVariables";
}
@Html.Partial("_LeftMenu")
<!-- content -->

<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.css">

    
@section Scripts{
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script>
    <script>
        function drawTable()
        {
            dataTable = $('#example').dataTable({
                destroy: true,
                bProcessing: true,
                sAjaxSource: '@Url.Action("LoadAttributes", "AttributesVariables")',
                "columnDefs": [{
                    "targets": -1,
                    "data": null,
                    "defaultContent": "<button class =\"glyphicon glyphicon-pencil edit\"></button> <button class =\"glyphicon glyphicon-trash delete\"></button>"
                }]

            });
        return true;
        }

        $(document).ready(drawTable);

        $(document).on("click", ".save", function() {
            testStr = "([A-Za-z0-9])+"
            var regex = new RegExp(testStr);
            attribCode = $("#attribCode").val();
            attribName = $("#attribName").val();
            varCode = $("#varCode").val();
            varName = $("#varName").val();
            ruleCreator = $("#ruleCreator").val();
            test1 = regex.test(attribCode);
            test2 = regex.test(attribName);
            test3 = regex.test(varCode);
            test4 = regex.test(varName);
            test5 = regex.test(ruleCreator);
            if (!test1 || !test2 || !test3 || !test4 || !test5) {
                $('#addmessage').html("Fields must not be empty or have special characters");
                return false;
            }
            $.ajax({
                url: "/AttributesVariables/Add",
                datatype: "text",
                data: { 'AttribCode': $('#attribCode').val(), 'AttribName': $('#attribName').val(), 'varCode': $('#varCode').val(), 'varName': $('#varName').val(), 'Creator': $('#attribCreator').val() },
                type: "POST",
                success: function (data) {
                    $('#addmessage').html("");
                    $('#myModal').modal('hide');
                    drawTable();
                    return true;
                },
                error: function () {
                    return false;
                }
            });
        });


        $("tbody").on("click", ".edit", function () {
            ID = $(this).closest("tr").children('td:eq(0)').text();
            attribCode = $(this).closest("tr").children('td:eq(0)').text();
            attribName = $(this).closest("tr").children('td:eq(1)').text()
            varCode = $(this).closest("tr").children('td:eq(2)').text()
            varName = $(this).closest("tr").children('td:eq(3)').text()
            
            $('#editModal').modal('show');
            $('#editMessage').html("");
            $("#updateAttribCode").val(attribCode);
            $("#updateAttribName").val(attribName);
            $('#updateVarCode').val(varCode);
            $('#updateVarName').val(varName);

            $(document).on("click", ".update", function () {
                testStr = "([A-Za-z0-9])+"
                var regex = new RegExp(testStr);
                attribName = $("#updateAttribName").val();
                attribCode = $("#updateAttribCode").val();
                varCode = $("#updateVarCode").val();
                varName = $("#updateVarName").val();
                test1 = regex.test(attribName);
                test2 = regex.test(attribCode);
                test3 = regex.test(varCode);
                test4 = regex.test(varName);
                if (!test1 || !test2 || !test3 || !test4) {
                    $('#editMessage').html("Fields must not be empty or have special characters");
                    return false;
                }
                $.ajax({
                    url: "/AttributesVariables/Update",
                    datatype: "text",
                    data: { 'varCode': ID, 'NewAttribCode': $('#updateAttribCode').val(), 'NewAttribName': $('#updateAttribName').val(), 'NewVarCode': $('#updateVarCode').val(), 'NewVarName': $('#updateVarName').val() },
                    type: "POST",
                    success: function (data) {
                        $('#editModal').modal('hide');
                        drawTable();
                        return true;
                    },
                    error: function () {
                        return false;
                    }
                });
            });
        });



        $("tbody").on("click", ".delete", function () {
            delID = $(this).closest("tr").children('td:eq(0)').text();
            $('#deleteModal').modal('show');
        });

        $(document).on("click", ".confirm", function () {
        $.ajax({
            url: "/AttributesVariables/Delete",
            datatype: "text",
            data: { 'AttribCode': delID},
            type: "POST",
            success: function (data) {
                drawTable();
            },
            error: function () {
            }
        });
    });

    </script>
}
<a href="#myModal" data-toggle="modal" class="btn btn-primary" style="margin-top:-1.3%">Create New Attribute Variable</a>

<!--BEGIN SAVE MODAL-->
<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="myModalLabel" class="modal-title">Add Attribute Variable</h4>
            </div>
            <div class="modal-body">
                <div id="addmessage"></div>                
                Attribute ID: <input id="attribCode" />
                <br />
                Attribute Name: <input id="attribName" />
                <br />
                Variable Name: <input id="varName" />
                <br />
                Variable Code Name: <input id="varCode" />
                <br />
                Created By: <input id="attribCreator" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="save" class="btn btn-primary save">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!--END MODAL-->

<!--BEGIN EDIT MODAL-->
<div id="editModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="myModalLabel" class="modal-title">Edit Attribute Variable</h4>
            </div>
            <div class="modal-body">
                <div id="editMessage"></div>
                Attribute Code: <input id="updateAttribCode" />
                <br />
                Attribute Name: <input id="updateAttribName" />
                <br />
                Variable Code: <input id="updateVarCode" />
                <br />
                Variable Name: <input id="updateVarName" />
                <br />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="update" class="btn btn-primary update">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!--END EDIT MODAL-->

<!--BEGIN DELETE MODAL-->
<div id="deleteModal" class="modal fade bs-example-modal-sm deleteModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-footer">
                <h4 style="float:left" id="myModalLabel" class="modal-title">Confirm Delete</h4>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="confirm" class="btn btn-primary confirm" data-dismiss="modal">Delete</button>
            </div>
        </div>
    </div>
</div>
<!--END DELETE MODAL-->

<div class="col-md-10" style="margin-top:1%;">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="text-muted bootstrap-admin-box-title">Attribute Variables Table</div>
            </div>
            <div class="bootstrap-admin-panel-content">
                <table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
                    <thead>
                        <tr>
                            <th>Attribute Code</th>
                            <th>Attribute Name</th>
                            <th>Variable Name</th>
                            <th>Variable Code</th>
                            <th>Date Added</th>
                            <th>Created By</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

