@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Landing.cshtml";
}
<a href="/">Go Back</a>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HResonance</title>
    <link href="~/Content/Theme/images/favicon.ico" rel="icon" type="image/x-icon" />
    <!--@Styles.Render("~/Content/Theme")
    @Scripts.Render("~/bundles/modernizr")-->
    <link href="/Content/bootstrap.css" rel="stylesheet" />
    <link href="/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="/Content/Theme/css/bootstrap-admin-theme.css" rel="stylesheet" />
    <link href="/Content/Theme/css/site.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />

    <script src="/Scripts/modernizr-2.6.2.js"></script>

    <style>
        .group1 {
            margin-right: 10%;
        }

        .group2 {
            margin-left: 10%;
        }

        #menuitems a:hover {
            border-bottom: 2px solid #00accd !important;
        }

        * {
            font-size: 100%;
            font-family: 'Roboto', sans-serif;
        }
    </style>

</head>
<body class="bootstrap-admin-with-small-navbar">

    <!-- main / large navbar -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="row">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".main-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="collapse navbar-collapse bootstrap-admin-navbar-sm" style="width:100%;margin-left:20%;">
                    <img src="~/Content/Theme/images/HResonance.jpg" style="width:15%; margin-left:20%;" />
                </div>
            </div>
        </div>
    </nav>
    <h2 style="text-align:center; font-size:200%; ">Compensation Professionals, we want to hear your voice!</h2>
    <p style="text-align:center;font-size:100%">
        We believe that system features should be CO-DESIGNED with people that will actually use <br />
        the system. We can create more innovative concepts and ideas when working within a co-design <br />
        enviorment with others. We want you to help us build a SIMPLE, EASY-TO-USE, AND BEAUTIFUL tool<br />
        that will be become the gold standard for other compensation professionals. Large HRIS vendors <br />
        are not always able to support variable compensation processes, especially strategic component<br />
        of variable compensation. We believe there is space for a TRAILBLAZING system that puts variable<br />
        compensation users and their processes in center of system design. LET'S GO!
    </p><br />
    <div class="col-md-4">
        <div class="row"></div>
        <div class="panel panel-default" style="padding-bottom:6%;">
            <div class="panel-heading">
                <div class="text-muted bootstrap-admin-box-title">
                    <h5>Plan Inventory Management</h5>
                </div>
            </div>
            <div class="bootstrap-admin-panel-content">
                <ul>
                    <li>'Describe' vital incentive plan characteristics</li>
                    <li>Customize which characteristics you want to track</li>
                    <li>
                        Answer key questions about how your incentives are structured across
                        the company, assess those plans and integrate with plan document automation
                    </li>
                </ul>
            </div>
        </div>
        </div>
    <div class="col-md-4">
        <div class="row"></div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="text-muted bootstrap-admin-box-title">
                    <h5>Plan Document Creation</h5>
                </div>
            </div>
            <div class="bootstrap-admin-panel-content">
                <ul>
                    <li>Use templates to create plan documents</li>
                    <li>Dynamic update of document text to reflect plan characteristics from plan inventory</li>
                    <li>Tag sections of text and use as components in a new plan document</li>
                    <li>Identify text components or language that every plan needs to contain.</li>
                    <li>Drag and drop, document formatting</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4" style="margin-bottom:3%;">
        <div class="row" ></div>
        <div class="panel panel-default" style="padding-bottom:16.5%;">
            <div class="panel-heading">
                <div class="text-muted bootstrap-admin-box-title">
                    <h5>Plan Document Workflow and Collaboration</h5>
                </div>
            </div>
            <div class="bootstrap-admin-panel-content">
                <ul>
                    <li>Allow other functions to contribute in plan document creation</li>
                    <li>Plan document approval  process</li>
                    <li>Create workflow in plan document creation</li>
                    <li>Electronic signatures</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4"">
        <div class="row"></div>
        <div class="panel panel-default" style="padding-bottom:11.5%;">
            <div class="panel-heading">
                <div class="text-muted bootstrap-admin-box-title">
                    <h5>Plan Assesments</h5>
                </div>
            </div>
            <div class="bootstrap-admin-panel-content">
                <ul>
                        <li>Create custom rules that automatically assess plan features</li>
                        <li>Automatic creation of Plan Pros and Cons</li>
                        <li>5 star rating system</li>
                        <li>Supports plan assessment summaries</li>
               </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row"></div>
        <div class="panel panel-default" style="padding-bottom:17%;">
            <div class="panel-heading" >
                <div class="text-muted bootstrap-admin-box-title">
                    <h5>Plan Budgeting & Accrual Management</h5>
                </div>
            </div>
            <div class="bootstrap-admin-panel-content">
                <ul>
                    <li>Allow Finance partners to input budget and accrual information</li>
                    <li>Create rules to alert for potential accrual issues</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row"></div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="text-muted bootstrap-admin-box-title">
                    <h5>Plan Budgeting & Accrual Management</h5>
                </div>
            </div>
            <div class="bootstrap-admin-panel-content">
                <ul>
                    <li>Tag employees with properties (high risk, etc.)</li>
                    <li>Group job titles into families and categories</li>
                    <li>Group grades into categories</li>
                    <li>Group organizational points into rollups</li>
                    <li>Integrate enriched data with plan inventory, assessment and plan financial information</li>
                </ul>
            </div>
        </div>
    </div>
    </body>
</html>