@{
    ViewBag.Title = "About";
}

<!-- content -->
<div class="col-md-12" style="margin-top:-7%;">
    <div class="row">
        <div class="bootstrap-admin-content-title">
        </div>
    </div>
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="text-muted bootstrap-admin-box-title">
                    <p style="text-align:center;">
                        News from Resonance
                        <label style="float:right;">
                            Search <input type="search" style="" />
                        </label>
                    </p>
                </div>

            </div>
            <div class="bootstrap-admin-panel-content">
                <iframe src="http://money.cnn.com/2017/02/27/technology/spacex-moon-tourism/index.html"></iframe>
            </div>
        </div>
    </div>
    <div class="row bootstrap-admin-no-edges-padding">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="text-muted bootstrap-admin-box-title"><p style="text-align:center;">Featured Content</p></div>
                </div>
                <div class="bootstrap-admin-panel-content">
                    <ul></ul>
                </div>
            </div>
        </div>

    </div>
    <div class="row bootstrap-admin-no-edges-padding">
        <div class="col-md-3" style="float:right; margin-right:.5%">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="text-muted bootstrap-admin-box-title"><p style="text-align:center;">FAQs</p></div>
                </div>
                <div class="bootstrap-admin-panel-content">
                </div>
            </div>
        </div>
    </div>
</div>