@{
    ViewBag.Title = "About";
}

<!-- content -->
<div class="col-md-12">
    <div class="row">
        <div class="bootstrap-admin-content-title">
        </div>
    </div>
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="text-muted bootstrap-admin-box-title">
                    <p style="text-align:center;">
                        News from Resonance
                        <label style="float:right;">
                            Search <input type="search" style="" />
                        </label>
                    </p>
                </div>

            </div>
            <div class="bootstrap-admin-panel-content" style="overflow-y:scroll; overflow-x:hidden; height:400px;">
                <div class="well well-lg" style="width:50%;margin-left:22%;">
                    <a href="http://www.bbc.com/news"><img src="~/Content/Theme/images/breaking news.jpg" style="margin-left:10%;" /></a>
                    <hr style="border: 1px solid #8B8682" />
                    <h3 style="font-family:Garamond; font-weight:bold; margin-top:2%;margin-left:8%;">WOW! This news is intense!</h3>
                    <hr style="border: 1px solid #8B8682" width="80%;" />
                    <p style="font-family:Garamond; font-weight:bold;margin-left:8%;">This is very critical news coming to your
                    HResonance newsfeed! It's pretty awesome being able to get the latest and most up-to-date news regarding Human Resources!</p>
                </div>
                <div class="well well-lg" style="width:50%;margin-left:22%;">
                    <a href="http://www.bbc.com/news"><img src="~/Content/Theme/images/breaking news.jpg" style="margin-left:10%;" /></a>
                    <hr style="border: 1px solid #8B8682" />
                    <h3 style="font-family:Garamond; font-weight:bold; margin-top:2%;margin-left:8%;">WOW! This news is intense!</h3>
                    <hr style="border: 1px solid #8B8682" width="80%;" />
                    <p style="font-family:Garamond; font-weight:bold;margin-left:8%;">
                        This is very critical news coming to your
                        HResonance newsfeed! It's pretty awesome being able to get the latest and most up-to-date news regarding Human Resources!
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row bootstrap-admin-no-edges-padding">
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="text-muted bootstrap-admin-box-title"><p style="text-align:center;">Featured Content</p></div>
                    </div>
                    <div class="bootstrap-admin-panel-content">
                        <ul></ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row bootstrap-admin-no-edges-padding">
            <div class="col-md-3" style="float:right; margin-top:-15%">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="text-muted bootstrap-admin-box-title"><p style="text-align:center;">FAQs</p></div>
                    </div>
                    <div class="bootstrap-admin-panel-content">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>