@{
    ViewBag.Title = "Processes";
}
@Html.Partial("_LeftMenu")


@section Scripts{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#addSubTask").click(function () {
                console.log("clicked")
                $('<div id="subTasks" style="margin-top:2%;"><span id="subtask" style="margin-left:3%;">Sub Task</span><input id="subtaskentry" style="display:none;" /><a id="addSubTask" class="glyphicon glyphicon-plus" style="margin-left:.5%;"></a><br /><div class="col-md-3" style="margin-left:5%; margin-top:2%;"><select id="attributes" class="form-control attributes" style="display:inline-block;"></select></div><a id="addAttribute" class="glyphicon glyphicon-plus" style="margin-top:2.8%;"></a></div>'
             ).insertAfter('#subTasks');
            });
            populateAttributes();
            hideTextbox();
        });
    </script>
    <script>
        function populateAttributes() {
            $.ajax({
                cache: false,
                type: "GET",
                url: '@Url.Action("DropDownAttributes", "Processes")',
                dataType: 'json',
                success: function (attribute) {
                    var items = '';
                    var obj = '';
                    $.each(attribute, function (i, word) {
                        $.each(word, function (i, obj) {
                            items += "<option>" + obj + "</option>";
                        });
                    });

                    $(".attributes").html(items);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve data.');
                }
            });
        }

        var defaultText = 'Click to edit text';

        function endEdit(e) {
            var input = $(e.target),
                label = input && input.prev();

            label.text(input.val() === '' ? defaultText : input.val());
            input.hide();
            label.show();
        }

        

        function hideTextbox() {
            $('.clickedit').hide()
            .focusout(endEdit)
            .keyup(function (e) {
                if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {
                    endEdit(e);
                    return false;
                } else {
                    return true;
                }
            })
            .prev().click(function () {
                $(this).hide();
                $(this).next().show().focus();
            });
        }



        $(".container").on("click", ".addTask", addTask);
        $(".container").on("click", ".addSubtask", addSubtask);
        $(".container").on("click", ".addAttribute", addAttributeSelect)
        
        $(".container").on("click", ".subTask", subTask);
        $(".container").on("click", ".subSubtask", subSubtask);
        $(".container").on("click", ".subAttribute", subAttributeSelect)

        function addTask ()
        {
            html = "<div class=\"TASK\"> \
            <br \> \
            <label class=\"EDITABLE\">Task</label> \
            <input class=\"clickedit\" type=\"text\" /> \
            <a id=\"addTask\" class=\"glyphicon glyphicon-plus addTask\" style=\"margin-left:.5%;\"></a> \
            <a class=\"glyphicon glyphicon-minus subTask\" style=\"margin-top:.8%;\"></a> \
            <br /> \
    <div id=\"SUBTASK1\" class=\"SUBTASK\" style=\"margin-left:13%;margin-top:2%\"> \
            <label class=\"EDITABLE\">Subtask</label> \
            <input class=\"clickedit\" type=\"text\" /> \
            <a id=\"addTask\" class=\"glyphicon glyphicon-plus addSubtask\" style=\"margin-left:.5%;\"></a> \
            <a class=\"glyphicon glyphicon-minus subSubtask\" style=\"margin-top:.8%;\"></a> \
            <br /> \
    <div id=\"attributeElements\" class=\"ATTRIBUTESELECTOR\" style=\"margin-left:9%; margin-top:2%;\"> \
                <div class=\"col-md-4\"> \
                    <select id=\"attributes\" class=\"form-control attributes\" style=\"display:inline-block;\"></select> \
                </div> \
                <a id=\"addAttribute\" class=\"glyphicon glyphicon-plus addAttribute\" style=\"margin-top:.8%;\"></a> \
                <a class=\"glyphicon glyphicon-minus subAttribute\" style=\"margin-top:.8%;\"></a> \
            </div> \
        </div> \
        </div>";
            $(html).insertAfter($(this).closest(".TASK"));
            populateAttributes();
            hideTextbox();
            return false;
        }        

        function addSubtask()
        {
            html = "<div id=\"SUBTASK1\" class=\"SUBTASK\" style=\"margin-left:13%;margin-top:2%\"> \
            <label class=\"EDITABLE\">Subtask</label> \
            <input class=\"clickedit\" type=\"text\" /> \
            <a id=\"addTask\" class=\"glyphicon glyphicon-plus addSubtask\" style=\"margin-left:.5%;\"></a> \
            <a class=\"glyphicon glyphicon-minus subSubtask\" style=\"margin-top:.8%;\"></a> \
            <br /> \
    <div id=\"attributeElements\" class=\"ATTRIBUTESELECTOR\" style=\"margin-left:9%; margin-top:2%;\"> \
                <div class=\"col-md-4\"> \
                    <select id=\"attributes\" class=\"form-control attributes\" style=\"display:inline-block;\"></select> \
                </div> \
                <a id=\"addAttribute\" class=\"glyphicon glyphicon-plus addAttribute\" style=\"margin-top:.8%;\"></a> \
                <a class=\"glyphicon glyphicon-minus subAttribute\" style=\"margin-top:.8%;\"></a> \
            </div> \
        </div>"
            $(html).insertAfter($(this).closest(".SUBTASK"))
            populateAttributes();
            hideTextbox();
            return false;
        }        

        function addAttributeSelect()
        {
            html = "<div id=\"attributeElements\" class=\"ATTRIBUTESELECTOR\" style=\"margin-left:9%; margin-top:2%;\"> \
                <div class=\"col-md-4\"> \
                    <select id=\"attributes\" class=\"form-control attributes\" style=\"display:inline-block;\"></select> \
                </div> \
                <a id=\"addAttribute\" class=\"glyphicon glyphicon-plus addAttribute\" style=\"margin-top:.8%;\"></a> \
                <a class=\"glyphicon glyphicon-minus subAttribute\" style=\"margin-top:.8%;\"></a> \
            </div>"
            $(html).insertAfter($(this).closest(".ATTRIBUTESELECTOR"))
            populateAttributes();
            return false;
        }

        function subTask()
        {
            $(this).closest(".TASK").remove();
        }

        function subSubtask() {
            $(this).closest(".SUBTASK").remove();
        }

        function subAttributeSelect() {
            $(this).closest(".ATTRIBUTESELECTOR").remove();
        }
        

    </script>
}





<!--MASTER CONTAINER-->
<div id="CONTAINER" class="container" style="margin-left:19%;">
    <!--TASK 1-->
    <div id="TASK1" class="TASK">
        <label class="EDITABLE">Task 1 (Click to edit)</label>
        <input class="clickedit" type="text" />
        <a id="addTask" class="glyphicon glyphicon-plus addTask" style="margin-left:.5%;"></a>
        <br />
        <!--SUBTAK 1-->
        <div id="SUBTASK1" class="SUBTASK" style="margin-left:13%;margin-top:2%">
            <label class="EDITABLE">Subtask</label>
            <input class="clickedit" type="text" />
            <a id="addTask" class="glyphicon glyphicon-plus addSubtask" style="margin-left:.5%;"></a>
            <br />
            <!--ATTRIBUTE SELECTOR 1-->
            <div id="attributeElements" class="ATTRIBUTESELECTOR" style="margin-left:9%; margin-top:2%;">
                <div class="col-md-4">
                    <select id="attributes" class="form-control attributes" style="display:inline-block;"></select>
                </div>
                <a id="addAttribute" class="glyphicon glyphicon-plus addAttribute" style="margin-top:.8%;"></a>
            </div>
            <!--END ATRIBUTE SELECTOR-->

        </div>
        <!--END SUBTASK 1-->
    </div>
<!--END TASK 1-->
</div>
<!--END MASTER CONTAINER-->

