@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Landing.cshtml";
}
<a href="/">Go Back</a>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HResonance</title>
    <link href="~/Content/Theme/images/favicon.ico" rel="icon" type="image/x-icon" />
    <!--@Styles.Render("~/Content/Theme")
    @Scripts.Render("~/bundles/modernizr")-->
    <link href="/Content/bootstrap.css" rel="stylesheet" />
    <link href="/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="/Content/Theme/css/bootstrap-admin-theme.css" rel="stylesheet" />
    <link href="/Content/Theme/css/site.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="/Scripts/modernizr-2.6.2.js"></script>
    

    <style>
        .group1 {
            margin-right: 10%;
        }

        .group2 {
            margin-left: 10%;
        }

        #menuitems a:hover {
            border-bottom: 2px solid #00accd !important;
        }

        * {
            font-size: 100%;
            font-family: 'Roboto', sans-serif;
        }
    </style>
    <style>
       input.styling{
           background-color:rgba(245, 245, 245, 0.498039);
           border:none; 
           border-bottom: solid 2px #c9c9c9;
       } 
    </style>
    <script>
        $(document).on("click", "#save", function () {
            $.ajax({
                url: "/SignUp/emailSignUp",
                datatype: "text",
                data: {
                    'fname': $("#fname").val(), 'lname': $("#lname").val(), 'title': $("#title").val(),
                    'companyname': $("#companyname").val(), 'email': $("#email").val(), 'phone': $("#phone").val(),
                    'address': $("#address").val(), 'city': $("#city").val(), 'state': $("#state").val(), 'zip': $("#zip").val()
                },
                type: "POST",
                success: function (data) {
                    console.log("success");
                    return true;
                },
                error: function () {
                    return false;
                }
            });
        });
    </script>
</head>
<body class="bootstrap-admin-with-small-navbar">

    <!-- main / large navbar -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="row">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".main-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse bootstrap-admin-navbar-sm" style="width:100%;margin-left:20%;">
                    <img src="~/Content/Theme/images/HResonance.jpg" style="width:15%; margin-left:20%;" />
                </div>
            </div>
        </div>
    </nav>
    <h2 style="text-align:center; font-size:200%; margin-bottom:2%;">Sign-up to be part of an exciting new venture!</h2>
    <p style="float:left; margin-top:22%; margin-left:20%;">How would you be willing to help? <br /> (Check all that apply)</p>
    <div style="width:24%; margin-left:42%;">
        <form>
            <input class="styling" placeholder="First Name" type="text" id="fname">
            <input class="styling" placeholder="Last Name" type="text" id="lname">
            <input class="styling" placeholder="Title" type="text" id="title">
            <input class="styling" placeholder="Company Name" type="text" id="companyname">
            <input class="styling" placeholder="E-mail" type="text" id="email">
            <input class="styling" placeholder="Phone" type="text" id="phone">
            <input class="styling" placeholder="Street Address" type="text" id="address">
            <input class="styling" placeholder="City" type="text" id="city">
            <input class="styling" placeholder="ST" type="text" id="state">
            <input class="styling" placeholder="ZIP" type="text" id="zip"><br /><br />
            
            
            <input type="checkbox" name="feature" /> Test drive the system <br />
            <input type="checkbox" name="feature" /> Complete Survey <br />
            <input type="checkbox" name="feature" /> Recommended Features <br />
            <input type="checkbox" name="feature" /> Implement the System at my Workplace <br />
            <input type="checkbox" name="feature" /> Discuss System in Person or over Phone <br /> <br />

            <button class="btn btn-info" id="save" type="button">Send</button>
        </form>
    </div>
    
</body>
</html>
