@{
    ViewBag.Title = "Attributes";
}
@Html.Partial("_LeftMenu")
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.css">
@section Scripts{
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () { drawTable() });

        function drawTable() {
            dataTable = $('#example').dataTable({
                destroy: true,
                bProcessing: true,
                sAjaxSource: '@Url.Action("LoadAttributes", "Attributes")',
                "columnDefs": [{
                    "targets": -1,
                    "data": null,
                    "defaultContent": "<button class =\"glyphicon glyphicon-pencil edit\"></button> <button class =\"glyphicon glyphicon-trash delete\"></button>"
                }]

            });
            return true;
        }

        $(document).on("click", ".save", function() {
            $.ajax({
                url: "/Attributes/Add",
                datatype: "text",
                data: { 'EleCode': $('#ruleCode').val(), 'EleName': $('#ruleName').val(), 'AttribCode': $('#attribCode').val(), 'AttribName': $('#attribName').val(), 'Creator': $('#ruleCreator').val() },
                type: "POST",
                success: function (data) {
                    $('#testarea').html("Added some stuff");
                    drawTable();
                    return true;
                },
                error: function () {
                    $("#testarea").html("oh no");
                    return false;
                }
            });
        });


        $("tbody").on("click", ".edit", function () {
            ID = $(this).closest("tr").children('td:eq(0)').text();
            $('#editModal').modal('show');

            $(document).on("click", ".update", function () {
                $.ajax({
                    url: "/Attributes/Update",
                    datatype: "text",
                    data: { 'EleCode': ID, 'NewEleCode': $('#updateEleCode').val(), 'NewEleName': $('#updateEleName').val(), 'NewAttribCode': $('#updateAttribCode').val(), 'NewAttribName': $('#updateAttribName').val() },
                    type: "POST",
                    success: function (data) {
                        $('#testarea').html("UPDATED");
                        drawTable();
                        return true;
                    },
                    error: function () {
                        $("#testarea").html("DID NOT UPDATE");
                        return false;
                    }
                });
            });
        });



    $("tbody").on("click", ".delete", function () {
        $.ajax({
            url: "/Attributes/Delete",
            datatype: "text",
            data: { 'EleCode': $(this).closest("tr").children('td:eq(0)').text()},
            type: "POST",
            success: function (data) {
                $('#testarea').html("All OK");
                drawTable();
            },
            error: function () {
                $("#testarea").html("ERROR");
            }
        });
    });

    </script>
}

<!-- content -->
<a href="#myModal" data-toggle="modal" class="btn btn-primary">+</a>

<!--BEGIN NEW MODAL-->
<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="myModalLabel" class="modal-title">Add Attribute</h4>
            </div>
            <div class="modal-body">
                Element Code: <input id="ruleCode" />
                <br />
                Element Name: <input id="ruleName" />
                <br />
                Attribute Code: <input id="attribCode" />
                <br />
                Attribute Name: <input id="attribName" />
                <br />
                Created By: <input id="ruleCreator" />

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="save" class="btn btn-primary save" data-dismiss="modal">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!--BEGIN EDIT MODAL-->
<div id="editModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="myModalLabel" class="modal-title">Edit Attribute</h4>
            </div>
            <div class="modal-body">
                Element Code: <input id="updateEleCode" />
                <br />
                Element Name: <input id="updateEleName" />
                <br />
                Attribute Code: <input id="updateAttribCode" />
                <br />
                Attribute Name: <input id="updateAttribName" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="update" class="btn btn-primary update" data-dismiss="modal">Save changes</button>
            </div>
        </div>
    </div>
</div>



<div class="col-md-10">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="text-muted bootstrap-admin-box-title">Attributes Table</div>
            </div>
            <div class="bootstrap-admin-panel-content">
                <table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
                    <thead>
                        <tr>
                        <tr>
                            <th>
                                Element Code
                            </th>
                            <th>
                                Element Name
                            </th>
                            <th>
                                Attribute Code
                            </th>
                            <th>
                                Attribute Name
                            </th>
                            <th>
                                Date Created
                            </th>
                            <th>
                                Created By
                            </th>
                            <th>
                                Actions
                            </th>
                        </tr>
                    </thead>
                     <tbody></tbody>
                    <tfoot>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

