@{
    ViewBag.Title = "Attributes";
}
@Html.Partial("_LeftMenu")
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/buttons/1.2.4/css/buttons.dataTables.min.css" />
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" />

@section Scripts{
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/buttons/1.2.4/js/buttons.flash.min.js"></script>
    <script type="text/javascript" charset="utf8" src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script type="text/javascript" charset="utf8" src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.24/build/pdfmake.min.js"></script>
    <script type="text/javascript" charset="utf8" src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.24/build/vfs_fonts.js"></script>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/buttons/1.2.4/js/buttons.html5.min.js"></script>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/buttons/1.2.4/js/buttons.print.min.js"></script>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/buttons/1.2.4/js/buttons.colVis.min.js"></script>
    
    <style>
        .tooLong {
            width: 100%;
            padding: 3px;
            box-sizing: border-box;
        }

        input {
            outline: 0;
            border-width: 0 0 .01em 0;
            border-color: black;
        }

        input:focus {
            border-color: lightblue;
        }

        #example tbody tr:hover{
            background-color: #f1f1f1;
        }

        #example tbody tr{
            background-color:#fafafa
        }

        #example tbody tr.odd > .sorting_1 {
            background-color: #fafafa;
        }

        #example tbody tr.odd:hover > .sorting_1 {
            background-color: #f1f1f1;
        }

    </style>

    <script>
        $(document).ready(function () { drawTable() });

        function drawTable() {
            dataTable = $('#example').dataTable({
                destroy: true,
                bProcessing: true,
                sAjaxSource: '@Url.Action("LoadAttributes", "Attributes")',
                "columnDefs": [{
                    "targets": -1,
                    "data": null,
                    "defaultContent": "<button class =\"glyphicon glyphicon-pencil edit\"></button> <button class =\"glyphicon glyphicon-trash delete\"></button>"
                }],
                dom: 'Bfrtip',
                buttons: [
                     {
                         extend: 'excel',
                         text: '<i class="fa fa-file-excel-o"></i>',
                         titleAttr: 'Excel',
                         exportOptions: {
                             columns: ':visible'
                         }
                     },
                      {
                          extend: 'csv',
                          text: '<i class="fa fa-file-text-o"></i>',
                          titleAttr: 'CSV',
                          exportOptions: {
                              columns: ':visible'
                          }
                      },
                      {
                          extend: 'pdf',
                          text: '<i class="fa fa-file-pdf-o"></i>',
                          titleAttr: 'PDF',
                          exportOptions: {
                              columns: ':visible'
                          }
                      },
                      {
                          extend: 'colvis',
                          text: '<i class="fa fa-eye"></i>',
                          titleAttr: "Columns"
                      }
                ]

            });
            return true;
        }

        $(document).on("click", ".save", function () {
            testStr = "([A-Za-z0-9])+"
            var regex = new RegExp(testStr);
            eleCode = $("#ruleCode").val();
            eleName = $("#ruleName").val();
            attribCode= $("#attribCode").val();
            attribName = $("#attribName").val();
            ruleCreator = $("#ruleCreator").val();
            test1 = regex.test(eleCode);
            test2 = regex.test(eleName);
            test3 = regex.test(attribCode);
            test4 = regex.test(attribName);
            test5 = regex.test(ruleCreator);
            if (!test1 || !test2 || !test3 || !test4 || !test5) {
                $('#addmessage').html("Fields must not be empty or have special characters");
                return false;
            }
            $.ajax({
                url: "/Attributes/Add",
                datatype: "text",
                data: { /*'EleCode': $('#ruleCode').val(), */'EleName': $('#ruleName').val(), 'AttribCode': $('#attribCode').val(),
                    'AttribName': $('#attribName').val(), 'Creator': $('#ruleCreator').val(), 'fieldFlag': $('#fieldFlag').val(),
                    'fieldFormat': $('#fieldFormat').val(), 'fieldType': $('#fieldType').val(), 'inputType':$('#inputType').val()
                },
                type: "POST",
                success: function (data) {
                    drawTable();
                    $('#addmessage').html("");
                    $('#myModal').modal('hide');
                    return true;
                },
                error: function () {
                    return false;
                }
            });
        });


        $("tbody").on("click", ".edit", function () {
            ID = $(this).closest("tr").children('td:eq(0)').text();
            Name = $(this).closest("tr").children('td:eq(1)').text()
            Code = $(this).closest("tr").children('td:eq(2)').text()
            AttribName = $(this).closest("tr").children('td:eq(3)').text()

            $('#editModal').modal('show');
            $('#editMessage').html("");
            $("#updateEleCode").val(ID);
            $("#updateEleName").val(Name);
            $('#updateAttribCode').val(Code);
            $('#updateAttribName').val(AttribName);

            $(document).on("click", ".update", function () {
                testStr = "([A-Za-z0-9])+"
                var regex = new RegExp(testStr);
                eleCode = $("#updateEleCode").val();
                eleName = $("#updateEleName").val();
                attribCode = $("#updateAttribCode").val();
                attribName = $("#updateAttribName").val();
                test1 = regex.test(eleCode);
                test2 = regex.test(eleName);
                test3 = regex.test(attribCode);
                test4 = regex.test(attribName);
                if (!test1 || !test2 || !test3 || !test4) {
                    $('#editMessage').html("Fields must not be empty or have special characters");
                    return false;
                }
                $.ajax({
                    url: "/Attributes/Update",
                    datatype: "text",
                    data: { 'EleCode': ID, 'NewEleCode': $('#updateEleCode').val(), 'NewEleName': $('#updateEleName').val(), 'NewAttribCode': Code, 'NewAttribName': $('#updateAttribName').val() },
                    type: "POST",
                    success: function (data) {
                        drawTable();
                        $('#editModal').modal('hide');
                        return true;
                    },
                    error: function () {
                        return false;
                    }
                });
            });
        });



        $("tbody").on("click", ".delete", function () {
            delID = $(this).closest("tr").children('td:eq(2)').text();
            $('#deleteModal').modal('show');
        });
        $(document).on("click", ".confirm", function () {
            $.ajax({
                url: "/Attributes/Delete",
                datatype: "text",
                data: { 'EleCode': delID},
                type: "POST",
                success: function (data) {
                    drawTable();
                },
                error: function () {
                }
            });
        });

        $.ajax({
            cache: false,
            type: "GET",
            url: '@Url.Action("DropDownElementCodes", "Attributes")',
            dataType: 'json',
            success: function (code) {
                console.log("Success");
                var items = '';
                var obj = '';
                $.each(code, function (i, word) {
                    $.each(word, function (i, obj) {
                        items += "<option>" + obj + "</option>";
                    });
                });
                console.log(items);
                $("#ruleCode").html(items);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('Failed to retrieve data.');
                console.log(thrownError);
            }
        });

        $.ajax({
            cache: false,
            type: "GET",
            url: '@Url.Action("DropDownElementNames", "Attributes")',
            dataType: 'json',
            success: function (code) {
                console.log("Success");
                var items = '';
                var obj = '';
                $.each(code, function (i, word) {
                    $.each(word, function (i, obj) {
                        items += "<option>" + obj + "</option>";
                    });
                });
                console.log(items);
                $("#ruleName").html(items);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('Failed to retrieve data.');
                console.log(thrownError);
            }
        });

        $(document).ready(function () {
            $('tbody tr').addClass('visible');
            $('thead tr th input:text').keyup(function (event) {
                if (event.keyCode == 27 || $(this).val() == '') {

                    $('tbody tr td ').show();

                }
                else {
                    for (var i = 1 ; i < 10 ; i++) {
                        if ($("thead tr th:nth-child(" + i + ") input:text").val().length > 0) {
                            var fn = filter("tbody>tr > :nth-child(" + i + ")", $(this).val());
                        }
                    }
                }
            });
        });

        function filter(selector, query) {
            var z = null;
            query = $.trim(query);
            query = query.replace(/ /gi, '|');
            $(selector).each(function () {
                if ($(this).text().search(new RegExp(query, "i")) < 0) {
                    $(this).siblings().hide();
                    $(this).hide();
                }
                else {
                    $(this).siblings().show();
                    $(this).show();
                }
            });
        }

        //$("#ruleCode").change(function () {
        //    if ($(this).data('options') == undefined) {
        //        /*Taking an array of all options-2 and kind of embedding it on the select1*/
        //        $(this).data('options', $('#ruleName option').clone());
        //    }
        //    var id = $(this).val();
        //    var options = $(this).data('options').filter('[value=' + id + ']');
        //    $('#ruleName').html(options);
        //});
    </script>
}

<!-- content -->

<!--BEGIN NEW MODAL-->
<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="myModalLabel" class="modal-title">Add Attribute</h4>
            </div>
            <div class="modal-body">
                <div id="addmessage"></div>                
                @*Element Code: <select id="ruleCode" style="display:inline-block; margin-left:3.5%;"></select>
    <br /><br />*@
                Element Name: <select id="ruleName" style="display:inline-block; margin-left:3%;"></select>
                <br /><br />
                @*Attribute Code: <input id="attribCode" />
                <br />*@
                Attribute Name: <input id="attribName" style="display:inline-block; margin-left:2%;" />
                <br /><br />
                Field Type: <select id="fieldType" style="margin-left:7.5%;">
                                <option>Currency</option>
                                <option>Number</option>
                                <option>Text</option>
                                <option>Date Time</option>
                                <option>Email</option>
                                <option>Signature</option>
                                <option>Image</option>
                                <option>Attachment</option>
                                <option>Icon</option>
                                <option>Phone Number</option>
                                <option>Address</option>
                                <option>ZIP Code/Postal Code</option>
                                <option>State/Province</option>
                                <option>Country/Region</option>
                            </select>
                <br/><br/>
                Field Format: <select id="fieldFormat" style="margin-left:4.5%;">
                                  <option>N/A</option>
                                  <option>Currency(decimal)</option>
                                  <option>Currency(integer)</option>
                                  <option>Number(decimal)</option>
                                  <option>Number(integer)</option>
                                  <option>Text(short)</option>
                                  <option>Text(long)</option>
                                  <option>Date Time(MM/DD/YYYY)</option>
                                  <option>Date Time(MM/DD/YY)</option>
                                  <option>Date Time(DD/MM/YY)</option>
                                  <option>Email(XXX@XXX.XXX)</option>
                                  <option>Image(.jpg)</option>
                                  <option>Image(.png)</option>
                                  <option>Image(.tif)</option>
                                  <option>Phone(+X (XXX)-XXX-XXXX)</option>
                                  <option>ZIP Code(XXXXX)</option>
                                  <option>ZIP Code(XXXXX-XXXX)</option>
                            </select>
                <br /><br />
                Field Flag: <select id="fieldFlag" style="margin-left:8%;">
                                <option>Calculated</option>
                                <option>Inputed</option>
                                <option>Calculated with option to input</option>
                            </select>
                <br /><br />
                Input Type: <select id="inputType" style="margin-left:7%;">
                                <option>Dropdown</option>
                                <option>Text Field</option>
                            </select>
                <br /><br />
                Created By: <input id="ruleCreator" style="display:inline-block; margin-left:7%;" />

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="save" class="btn btn-primary save">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!--END NEW MODAL-->

<!--BEGIN EDIT MODAL-->
<div id="editModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="myModalLabel" class="modal-title">Edit Attribute</h4>
            </div>
            <div class="modal-body">
                <div id="editMessage"></div>
                @*Element Code: <input id="updateEleCode" />
                <br />
                Element Name: <input id="updateEleName" />
                <br />
                Attribute Code: <input id="updateAttribCode" />
                <br />*@
                Attribute Name: <input id="updateAttribName" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="update" class="btn btn-primary update">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!--END EDIT MODAL-->

<!--BEGIN DELETE MODAL-->
<div id="deleteModal" class="modal fade bs-example-modal-sm deleteModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-footer">
                <h4 style="float:left" id="myModalLabel" class="modal-title">Confirm Delete</h4>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="confirm" class="btn btn-primary confirm" data-dismiss="modal">Delete</button>
            </div>
        </div>
    </div>
</div>
<!--END DELETE MODAL-->

<div class="col-md-10"  style="margin-top:-1.3%;">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="text-muted bootstrap-admin-box-title">Attributes Table</div>
            </div>
            <div class="bootstrap-admin-panel-content">
                <table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
                    <thead>
                        <tr>
                        <tr>
                            <th>
                                Element Code
                                <br />
                                <input type="text" class="tooLong" name="filterfname" value="">
                            </th>
                            <th>
                                Element Name
                                <br />
                                <input type="text" class="tooLong" name="filterfname" value="">
                            </th>
                            <th>
                                Attribute Code
                                <br />
                                <input type="text" class="tooLong" name="filterfname" value="">
                            </th>
                            <th>
                                Attribute Name
                                <br />
                                <input type="text" class="tooLong" name="filterfname" value="">
                            </th>
                            <th>
                                Date Created
                                <br />
                                <input type="text" class="tooLong" name="filterfname" value="">
                            </th>
                            <th>
                                Created By
                                <br />
                                <input type="text" class="tooLong" name="filterfname" value="">
                            </th>
                            <th>
                                Actions
                            </th>
                        </tr>
                    </thead>
                     <tbody></tbody>
                    <tfoot>
                    </tfoot>
                </table>
            </div>
        </div>
        <a href="#myModal" data-toggle="modal" class="btn btn-primary" style="margin-top:-1.3%">Create New Attribute</a>
    </div>
</div>

